name: Deploy to DigitalOcean

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Deploy to DigitalOcean Droplet
        uses: appleboy/ssh-action@master
        with:
          host: 188.166.159.42
          username: root
          password: ${{ secrets.DROPLET_PASSWORD }}
          script: |
            cd /root/gcx-backend && git pull origin main && go build -o gcx-cms && (pkill gcx-cms || true) && nohup ./gcx-cms &>/dev/null & disown
