name: Deploy to DigitalOcean

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Test SSH Connection
        uses: appleboy/ssh-action@master
        with:
          host: 188.166.159.42
          username: root
          password: ${{ secrets.DROPLET_PASSWORD }}
          script: |
            echo "SSH connection successful!"
            pwd
            ls -la /root/gcx-backend
